$text: #273240;
$fill: #4b607a;
$text-hover: #161c24;
$active: #00987c;
$border-color: #e8ecee;
$hover: #f6f8f9;
$primary: #32c1ff;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: 0;
}


/*btn*/
._btn{
  font-size: 12px;
  padding: 6px 9px;
  text-align: center;
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1;
  min-width: 50px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: background,border,box-shadow,color,fill;
  transition-property: background,border,box-shadow,color,fill;
}
._btn-default{
  background: #fff;
  border-color: #9ca6af;
  color: $text;
  fill: $fill;
  font-weight: bold;
  &:hover{
    background-color: #f6f8f9;
    border-color: #6f7782;
    border-style: solid;
    color: $text-hover;
    fill: $text-hover;
  }
}
._btn-default-active{
  background-color: #00BF9C;
  border: none;
  color: #ffffff;
  fill: #ffffff;
  &:hover{
    border: none;
    background-color: #00987c;
    color: #ffffff;
    fill: #ffffff;
  }
}
._btn-borderless{
  background: #fff;
  border: none;
  color: $text;
  fill: $fill;
  font-weight: bold;
  padding: 9px 9px;
  &:hover{
    background-color: #d3dde4;
   border: none;
    color: $text-hover;
    fill: $text-hover;
  }
}
._btn-active{
  background-color: #00BF9C;
  border: none;
  color: #ffffff;
  fill: #ffffff;
  &:hover{
    background-color: #00987c;
    color: #ffffff;
    fill: #ffffff;
  }
}
.MiniIcon-custom{
  height: 12px;
  width: 12px;
  margin-right: 5px;
}
.MiniIcon-right{
  height: 12px;
  width: 12px;
  margin-left: 5px;
  cursor: pointer;
}
.MiniIcon{
  height: 13px;
  width: 13px;
  cursor: pointer;
  &:hover{
    fill: $active;
  }
}
/*btn-end*/



/*main*/
.main-wrapper{
  width: 100%;
  display: inline-block;
  position: relative;
  min-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}
.add-task-section-wrapper{
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e8ecee;
  border-top: 1px solid #e8ecee;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  height: 70px;
  padding-left: 20px;
  padding-right: 15px;
  width: 100%;
  vertical-align: middle;
  .section-left{
    width: 50%;
    float: left;
  }
  .section-right{
    width: 50%;
    float: left;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    .task-head-box-dropdown{
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 4;
      top: 36px;
      left: 8px;
      .each-box{
        padding: 12px 5px;
        background-color: #ffffff;
        text-align: left;
        &:hover{
          background-color: #ddd;
        }
        a{
          color: $text;
          text-decoration: none;
        }
      }
    }
    ._assigned-box{
      display: inline-block;
      margin: 0 5px;
      position: relative;
      .search-logo{
        position: absolute;
        left: 7px;
        top: 11px;
        fill: $fill;
      }
    }
    .logo-box{
      width: 50px;
      display: table;
      text-align: center;
      position: relative;
      .hide-box-icon{
        width: 14px;
        height: 14px;
        fill: $fill;
        cursor: pointer;
        &:hover,:focus{
          fill: #32c1ff;
        }
      }
      .hide-box-icon-primary{
        width: 14px;
        height: 14px;
        fill: $primary;
        cursor: pointer;
      }
    }
    .like-count{
      position: absolute;
      font-size: 12px;
      color: $primary;
      top: -9px;
      right: 12px;
      display: table;
      font-weight: 600;
    }
  }
}
.task-list-wrapper{
  width: calc(100% - 0px);
  display: table;
  padding: 0 20px ;
  transition: 500ms;
  &.task-list-half{
    width: calc(100% - 760px);
    float: left;
    transition: 500ms;
  }
  .task-list-header{
    width: 100%;
    border-bottom: 1px solid $border-color;
    display: table;
    font-size: 13px;
    font-weight: bold;
    .task-name-box{
      width: 70%;
      border-right: 1px solid $border-color;
      padding: 10px 5px;
      float: left;
      background-color: #fff;
      &:hover{
        background-color: $hover;
      }
    }
    .task-assignee-box{
      width: 15%;
      border-right: 1px solid $border-color;
      padding: 10px 5px;
      float: left;
      background-color: #fff;
      position: relative;
      display: table;
      .logo-1{
        width: 15px;
        position: absolute;
        top: 10px;
        right: 5px;
        .svg-logo{
          fill: $fill;
          cursor: pointer;
          width: 15px;
          opacity: 0;
          &:hover{
            fill: $primary;
          }
          &:focus{
            opacity: 1!important;
          }
        }
        .task-head-box-dropdown{
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 4;
          top: 22px;
          left: -140px;
          .each-box{
            padding: 5px 5px;
            background-color: #ffffff;
            text-align: left;
            &:hover{
              background-color: #ddd;
            }
            a{
              color: $text;
              text-decoration: none;
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
      }
      .logo-2{
        width: 15px;
        fill: $fill;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 65px;
        .mini-icon{
          width: 12px;
          height: 12px;
        }
      }
      &:hover{
        background-color: $hover;
        .svg-logo{
          opacity: 1;
        }
      }
      &:focus{
        .svg-logo{
          opacity: 1;
        }
      }
    }

  }
  .task-list-body{
    width: 100%;
    border-bottom: 1px solid $border-color;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    .comment-section-name{
      display: flex;
      align-items: center;
      .comment-count{
        font-size: 11px;
        color: #273240;
        font-weight: bold;
      }
      .comment-count-like{
        font-size: 11px;
        color: $primary;
        font-weight: bold;
      }
      .comment-logo{
        width: 25px;
        height: 13px;
        fill: #4b607a;
        margin-right: 15px;
        &:hover{
          fill: #32c1ff;
        }
      }
      .comment-logo-like{
        width: 25px;
        height: 13px;
        fill: #32c1ff;
        margin-right: 15px;
      }
    }
    .task-name-box{
      width: 70%;
      border-right: 1px solid $border-color;
      padding: 5px 5px;
      float: left;
      background-color: #fff;
      position: relative;
      display: inline-flex;
      align-items: center;
      .detail-option{
        position: absolute;
        right: 0;
        top: 12px;
        font-size: 12px;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        opacity: 0;
        cursor: pointer;
      }
      .border-radious-icon{
        background: #fff;
        border: 1px solid #cbd4db;
        border-radius: 50%;
        color: #6f7782;
        fill: #6f7782;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        &.task-complete{
          border: 1px solid $active!important;
          .MiniIcon{
            fill: $active!important;
          }
        }
        .MiniIcon{
          height: 13px;
          width: 13px;
          cursor: pointer;
          &:hover{
            fill: $active;
          }
        }
        &:hover{
          color: $active;
          border-color: $active;
        }
      }
      &:hover{
        background-color: $hover;
        .task-body-custom-input{
          background-color: $hover;
        }
        .detail-option{
          opacity: 1;
        }
      }
    }
    .task-assignee-box{
      width: 15%;
      border-right: 1px solid $border-color;
      padding: 0;
      float: left;
      background-color: #fff;
      position: relative;
      .assigned-person{
        display: inline-flex;
        align-items: center;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: #ffffff;
        padding: 4px;
        .img-box{
          width: 25px;
          height: 25px;
          display: inline-block;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 10px;
        }
      }
      .assignee-box-dropdown{
        position: absolute;
        background-color: #ffffff;
        min-width: 280px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        padding: 7px 7px 3px 7px;
        max-height: 250px;
        .each-assignee{
          width: 100%;
          display: inline-flex;
          align-items: center;
          margin: 5px 0;
          &:hover{
            background-color: $border-color;
          }
          .profile-img{
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 10px;
            padding: 0 5px;
          }
          .name-text{
            color: $text;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
      .assignee-box-logo{
        position: absolute;
        width: 28px;
        height: 28px;
        border: 1px dashed #9ca6af;
        border-radius: 50%;
        top: 2px;
        left: 7px;
        text-align: center;
        padding-top: 3px;
        visibility: hidden;
        .inside-logo{
          width: 18px;
          height: 18px;
          fill: #9ca6af;
        }
      }
      .assignee-box-input{
        border-color: transparent;
        box-shadow: none;
        min-width: 100px;
        width: 100%;
        background-color:#ffffff;
        border-style: solid;
        border-width: 1px;
        height: 33px;
        padding: 0 5px;
        cursor: pointer;
        &:hover{
          background-color: $hover;
        }
        &:focus{
          border-color: $primary;
          background-color:#ffffff;
          .inside-logo{
           display: none;
          }
        }
      }
      &:hover{
        background-color: $hover;
        .assignee-box-logo{
          visibility: visible;
        }
      }
      &:focus{
        .assignee-box-logo{
          visibility: hidden;
        }
      }
    }
    .task-date-box{
      width: 15%;
      border-right: 1px solid $border-color;
      padding: 9px 39px;
      float: left;
      background-color: #fff;
      position: relative;
      .assignee-box-logo{
        position: absolute;
        width: 28px;
        height: 28px;
        border: 1px dashed #9ca6af;
        border-radius: 50%;
        top: 2px;
        left: 7px;
        text-align: center;
        padding-top: 3px;
        visibility: hidden;
        .inside-logo{
          width: 18px;
          height: 18px;
          fill: #9ca6af;
        }
      }
      .main-wrapper-date-input{
        border: none;
        &:hover{
          background-color: #f6f8f9;
        }
      }
      &:hover{
        background-color: $hover;
        .assignee-box-logo{
          visibility: visible;
        }
        .main-wrapper-date-input{
          background-color: #f6f8f9;
        }
      }
      &:focus{
        .assignee-box-logo{
          visibility: hidden;
        }
      }
    }
    .box-active{
      background-color: #EDF8FF;
    }
    .task-body-custom-input{
      border-color: transparent;
      border-radius: 2px;
      box-shadow: none;
      min-width: 200px;
      width: 100%;
      background-color:#ffffff;
      border-style: solid;
      border-width: 1px;
      padding: 2px;
      &:hover{
        background-color: $hover;
      }
      &:focus{
        border-color: #9ca6af;
        background-color:#ffffff;
      }
    }
  }
  .section-header{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    display: table;
    padding: 15px 0;
    color: $text;
  }
  .task-list-body-section{
    width: 100%;
    border-top: 1px solid $border-color;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    .comment-section-name{
      display: flex;
      align-items: center;
      .comment-count-like{
        font-size: 11px;
        color: $primary;
        font-weight: bold;
      }
      .comment-logo-like{
        width: 25px;
        height: 13px;
        fill: #32c1ff;
        margin-right: 15px;
      }
      .comment-count{
        font-size: 11px;
        color: #273240;
        font-weight: bold;
      }
      .comment-logo{
        width: 25px;
        height: 13px;
        fill: #4b607a;
        margin-right: 15px;
        &:hover{
          fill: #32c1ff;
        }
      }
    }
    &:last-child{
      border-bottom:1px solid #e8ecee
    }
    .task-name-box{
      width: 70%;
      border-right: 1px solid $border-color;
      padding: 5px 5px;
      float: left;
      background-color: #fff;
      position: relative;
      display: inline-flex;
      align-items: center;
      .detail-option{
        position: absolute;
        right: 0;
        top: 12px;
        font-size: 12px;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        opacity: 0;
        cursor: pointer;
      }
      .border-radious-icon{
        background: #fff;
        border: 1px solid #cbd4db;
        border-radius: 50%;
        color: #6f7782;
        fill: #6f7782;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        &.task-complete{
          border: 1px solid $active!important;
          .MiniIcon{
            fill: $active!important;
          }
        }
        .MiniIcon{
          height: 13px;
          width: 13px;
          cursor: pointer;
          &:hover{
            fill: $active;
          }
        }
        &:hover{
          color: $active;
          border-color: $active;
        }
      }
      &:hover{
        background-color: $hover;
        .task-body-custom-input{
          background-color: $hover;
        }
        .detail-option{
          opacity: 1;
        }
      }
    }
    .task-assignee-box{
      width: 15%;
      border-right: 1px solid $border-color;
      padding: 0;
      float: left;
      background-color: #fff;
      position: relative;
      .assigned-person{
        display: inline-flex;
        align-items: center;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: #ffffff;
        padding: 4px;
        .img-box{
          width: 25px;
          height: 25px;
          display: inline-block;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 10px;
        }
      }
      .assignee-box-dropdown{
        position: absolute;
        background-color: #ffffff;
        min-width: 280px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        padding: 7px 7px 3px 7px;
        max-height: 250px;
        .each-assignee{
          width: 100%;
          display: inline-flex;
          align-items: center;
          margin: 5px 0;
          &:hover{
            background-color: $border-color;
          }
          .profile-img{
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 10px;
            padding: 0 5px;
          }
          .name-text{
            color: $text;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
      .assignee-box-logo{
        position: absolute;
        width: 28px;
        height: 28px;
        border: 1px dashed #9ca6af;
        border-radius: 50%;
        top: 2px;
        left: 7px;
        text-align: center;
        padding-top: 3px;
        visibility: hidden;
        .inside-logo{
          width: 18px;
          height: 18px;
          fill: #9ca6af;
        }
      }
      .assignee-box-input{
        border-color: transparent;
        box-shadow: none;
        min-width: 100px;
        width: 100%;
        background-color:#ffffff;
        border-style: solid;
        border-width: 1px;
        height: 33px;
        padding: 0 5px;
        cursor: pointer;
        &:hover{
          background-color: $hover;
        }
        &:focus{
          border-color: $primary;
          background-color:#ffffff;
          .inside-logo{
            display: none;
          }
        }
      }
      &:hover{
        background-color: $hover;
        .assignee-box-logo{
          visibility: visible;
        }
      }
      &:focus{
        .assignee-box-logo{
          visibility: hidden;
        }
      }
    }
    .task-date-box{
      width: 15%;
      border-right: 1px solid $border-color;
      padding: 9px 39px;
      float: left;
      background-color: #fff;
      position: relative;
      .main-wrapper-date-input{
        border: none;
        &:hover{
          background-color: #f6f8f9;
        }
      }
      .assignee-box-logo{
        position: absolute;
        width: 28px;
        height: 28px;
        border: 1px dashed #9ca6af;
        border-radius: 50%;
        top: 2px;
        left: 7px;
        text-align: center;
        padding-top: 3px;
        visibility: hidden;
        .inside-logo{
          width: 18px;
          height: 18px;
          fill: #9ca6af;
        }
      }
      &:hover{
        background-color: $hover;
        .assignee-box-logo{
          visibility: visible;
        }
        .main-wrapper-date-input{
          background-color: #f6f8f9;
        }
      }
      &:focus{
        .assignee-box-logo{
          visibility: hidden;
        }
      }
    }
    .box-active{
      background-color: #EDF8FF;
    }
    .task-body-custom-input{
      border-color: transparent;
      border-radius: 2px;
      box-shadow: none;
      min-width: 200px;
      width: 100%;
      background-color:#ffffff;
      border-style: solid;
      border-width: 1px;
      padding: 2px;
      &:hover{
        background-color: $hover;
      }
      &:focus{
        border-color: #9ca6af;
        background-color:#ffffff;
      }
    }
  }
}
.task-list-detail-wrapper{
  width: 760px;
  background-color: #fff;
  border-left: 1px solid #e8ecee;
  border-top: 1px solid #e8ecee;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  transition: .5s;
  box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
  float: left;
  padding: 0;
  transform-origin: 100% 0;
  transform: scaleX(1);
  z-index: 100;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  &.hideMe{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: .5s;
  }
  .section-comment{
    display: inline-flex;
    align-items: center;
    .comment-count{
      font-size: 11px;
      color: #273240;
      font-weight: bold;
    }
  }
  .head-text-section{
    width: 100%;
    padding: 10px 20px;
    display: table;
    .input-big{
      border: 1px solid transparent;
      box-shadow: none;
      font-size: 30px;
      font-weight: bold;
      transition: 200ms;
      width: 100%;
      padding: 10px;
      color: $text;
      &:hover{
        border: 1px solid #9ca6af;
        border-radius: 4px;
        transition: 200ms;
      }
    }
    .radious-square-input{
      position: relative;
      display: inline-block;
      .assigned-person{
        display: inline-flex;
        align-items: center;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: #ffffff;
        padding: 6px;
        border: 1px solid transparent;
        border-radius: 25px;
        &:hover{
          border: 1px solid #9ca6af;
        }
        .img-box{
          width: 30px;
          height: 30px;
          display: inline-block;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 10px;
        }
        .text-1{
          font-size: 13px;
          font-weight: 600;
        }
      }
      &:hover{
        .input-design{
          border: 1px solid #9ca6af;
          border-radius: 25px;
        }
        .logo-border{
          border: 1px solid #9ca6af;
          .input-icon-1{
            fill: #7f878e;
          }
        }
      }
      .logo-border{
        position: absolute;
        width: 30px;
        height: 30px;
        border: 1px dashed #9ca6af;
        border-radius: 50%;
        top: 6px;
        left: 7px;
        text-align: center;
        padding-top: 3px;
        .input-icon-1{
          width: 18px;
          height: 18px;
          fill: #9ca6af;
        }
        .input-icon-2{
          width: 22px;
          height: 21px;
          fill: #9ca6af;
          padding-top: 2px;
        }
      }
      .input-design{
        font-size: 12px;
        font-weight: 900;
        padding: 13px 0 13px 45px;
        border: 1px solid transparent;
        cursor: pointer;
        box-shadow: none;
        width: 150px;
        height: unset;
        line-height: inherit;
        &.width-big{
          width: 200px;
        }
        &:focus{
          border: 1px solid #9ca6af;
          border-radius: 4px;
          width: 100%;
        }
      }
    }
    .text-area-logo{
      width: 25px;
      display: inline-block;
      float: left;
      padding-top: 3px;
      .t-logo{
        width: 18px;
        height: 18px;
        fill: $fill;
      }
    }
    ._input-logo{
      width: 25px;
      display: inline-block;
      float: left;
      padding: 3px 0 10px 0;
      .t-logo{
        width: 18px;
        height: 18px;
        fill: $fill;
      }
    }
    .custom-text-area{
      border: 1px solid transparent;
      box-shadow: none;
      font-size: 13px;
      font-weight: bold;
      transition: 200ms;
      width: 96%;
      padding: 5px 10px;
      display: inline-block;
      color: $text;
      float: left;
      &:hover{
        border: 1px solid #9ca6af;
        border-radius: 4px;
        transition: 200ms;
      }
    }
    .custom-input-add-project{
      border: 1px solid transparent;
      box-shadow: none;
      font-size: 13px;
      font-weight: bold;
      transition: 200ms;
      width: 96%;
      padding: 10px 10px;
      display: inline-block;
      color: $text;
      cursor: pointer;
      float: left;
      &::placeholder{
        color: $primary;
      }
      &:focus{
        border: 1px solid #9ca6af;
        border-radius: 4px;
        transition: 200ms;
        &::placeholder{
          color: $text;
        }
      }
    }
    .profile-img{
      width: 40px;
      display: inline-block;
      float: left;
      margin-right: 8px;
      ._img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .detail-text-area{
      width: 90%;
      padding: 10px 0;
      display: inline-block;
      float: left;
      font-size: 13px;
      font-weight: bold;
      .lnk-text{
        text-decoration: none;
        color: $primary;
        &:hover{
          color: $primary;
        }
      }
      .small-text{
        font-size: 11px;
        color: #c2c2c2;
      }
      .comment-each{
        padding: 5px 0 0 0;
        font-weight: 400;
      }
    }
    .custom-text-area-chat{
      border: 1px solid #9ca6af;
      box-shadow: none;
      font-size: 13px;
      font-weight: bold;
      transition: 200ms;
      width: 93%;
      padding: 5px 10px;
      display: inline-block;
      color: $text;
      float: left;
      border-radius: 4px;
    }
    .new-task{
      width: 100%;
      display: flex;
      border-top: 1px solid $border-color;
      align-items: center;
      position: relative;
      &:last-child{
        border-bottom:1px solid $border-color
      }
      &:focus{
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
      }
      .border-radious-icon{
        background: #fff;
        border: 1px solid #cbd4db;
        border-radius: 50%;
        color: #6f7782;
        fill: #6f7782;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        &.task-complete{
          border: 1px solid $active!important;
          .MiniIcon{
            fill: $active!important;
          }
        }
        .MiniIcon{
          height: 15px;
          width: 14px;
          cursor: pointer;
          &:hover{
            fill: $active;
          }
        }
        &:hover{
          color: $active;
          border-color: $active;
        }
      }
      .new-task-input{
        width: 90%;
        border: 1px solid transparent;
        height: 35px;
        box-shadow: none;
      }
      .new-task-logo{
        position: absolute;
        right: 0;
        display: inline-flex;
        top: 5px;
        .logo-1{
          width: auto;
          position: relative;
          .icon-border{
            width: 25px;
            height: 25px;
            border: 1px solid $border-color;
            border-radius: 50%;
            margin-right: 14px;
            ._icon{
              height: 19px;
              width: 23px;
              padding: 3px 0 0 0;
              fill: #7f878e;
            }
          }
          .icon-border-1{
            width: 25px;
            height: 25px;
            border: 1px solid $border-color;
            border-radius: 50%;
            margin-right: 14px;
            position: absolute;
            ._icon{
              height: 19px;
              width: 23px;
              padding: 3px 0 0 0;
              fill: #7f878e;
            }
          }
          .assignee-box-dropdown{
            position: absolute;
            background-color: #ffffff;
            min-width: 200px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            padding: 7px 7px 3px 7px;
            left: -178px;
            top: 29px;
            max-height: 250px;
            .ass-label{
              font-size: 12px;
              font-weight: 600;
            }
            .date-input-uder-new-task{
              font-size: 11px;
              font-weight: 600;
              background-color: #fff;
              padding: 8px 0;
              margin-right: 15px;
              box-shadow: none;
              width: 30px;
              border-radius: 4px;
            }
            .drop-down-input{
              padding: 5px;
              border-radius: 4px;
              border: 1px solid $border-color;
              box-shadow: none;
              margin: 8px 0;
              position: relative;
              width: 100%;
            }
            .assignee-box-dropdown-under-input{
              position: absolute;
              background-color: #ffffff;
              min-width: 200px;
              overflow: auto;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
              padding: 7px 7px 3px 7px;
              left: -137px;
              top: 60px;
              overflow-y: auto;
              overflow-x: hidden;
              max-height: 250px;
              .each-assignee-under-input{
                width: 100%;
                display: inline-flex;
                align-items: center;
                margin: 5px 0;
                &:hover{
                  background-color: $border-color;
                }
                .profile-img{
                  width: 25px;
                  height: 25px;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  margin-right: 10px;
                  padding: 0 5px;
                }
                .name-text{
                  color: $text;
                  font-size: 12px;
                  font-weight: bold;
                }
              }
            }
            .each-assignee{
              width: 100%;
              display: inline-flex;
              align-items: center;
              margin: 5px 0;
              &:hover{
                background-color: $border-color;
              }
              .profile-img{
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-right: 10px;
                padding: 0 5px;
              }
              .name-text{
                color: $text;
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
          .new-task-date{
            font-size: 11px;
            font-weight: 600;
            background-color: #fff;
            padding: 8px 0;
            margin-right: 15px;
          }
          .detail-option{
            font-size: 12px;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            opacity: 0;
            cursor: pointer;
            height: 28px;
          }
        }
        .logo-2{
          width: 13px;
          height: 25px;
          ._icon{
            height: 19px;
            width: 23px;
            padding: 3px 0 0 0;
            fill: #7f878e;
          }
        }
        .logo-3{
          width: 13px;
          height: 25px;
          padding-top: 5px;
          ._icon{
            width: 15px;
            height: 15px;
            fill: $fill;
          }
        }
      }
      &:hover{
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        .new-task-logo{
          .logo-1{
            .detail-option{
              opacity: 1;
            }
          }
        }
      }
    }
    .project-name-label{
      width: auto;
      float: left;
      display: table;
      padding: 6px 15px 6px 15px;
      font-size: 11px;
      font-weight: bold;
      background: #f2f2f2;
      border-radius: 25px;
      margin-right: 6px;
    }
    .project-select-box{
      width: auto;
      float: left;
      display: table;
      select{
        width: 150px;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px dotted;
       &:hover{
         border-color: #32c1ff;
         color: #32c1ff;
       }
      }
    }
    .parent-task{
      text-decoration: none;
      color: $text;
      font-size: 14px;
      border-bottom: 1px dotted $text;
      padding-bottom: 2px;
      margin-bottom: 6px;
      display: table;
      font-weight: 600;
      &:hover{
        color: $primary;
        border-bottom: 1px dotted $primary;
        .MiniIcon-right{
          fill: $primary;
        }
      }
      .MiniIcon-right{
        fill: $fill;
      }
    }
    .history-bar{
      width: 100%;
      display: table;
    }
    .comment-bar{
      position: relative;
      width: 100%;
      display: flex;
      .like-option{
        position: absolute;
        top: 0;
        right: -14px;
        display: inline-flex;
        width: auto;
        align-items: center;
        .like-button{
          fill: $fill;
          width: 14px;
        }
        .like-button-active{
          fill: $primary;
          width: 14px;
        }
        .like-count{
          color: $primary;
          margin-right: 4px;
          font-size: 12px;
          font-weight: 500;
        }
        .task-head-box-dropdown{
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 4;
          top: 22px;
          left: -106px;
          .each-box{
            padding: 5px 5px;
            background-color: #ffffff;
            text-align: left;
            &:hover{
              background-color: #ddd;
            }
            a{
              color: $text;
              text-decoration: none;
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
/*main end*/

/*global*/
._float-left{
  float: left;
}
._float-right{
  float: right;
}
._text-left{
  text-align: left;
}
._text-right{
  text-align: right;
}
._font-15{
  font-size: 15px
}
.border-top-task-list{
  border-top: 1px solid $border-color;
}
.border-bottom-task-list{
  border-bottom: 1px solid $border-color;
}
.d-flex-inline{
  display: inline-flex;
  align-items: center;
}
.bg-light{
  background-color: #F6F8F9;
}
.no-padding{
  padding: 0!important;
}
.cursor-pointer{
  cursor: pointer;
}
.border-right-none{
  border-right: none!important;
}
.drop-down-menu_{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  a{
    color: $text;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {background-color: #ddd;}
  }
}
.nv-dropdown-menu{
  display: none;
  .assigned-person{
    display: none;
  }
}
.nv-dropdown-menu-under-input{
  display: none;
}

.nv-open-under-input{
  .nv-dropdown-menu-under-input{
    display: block;
  }
}
.nv-open{
  .nv-dropdown-menu{
    display: block;
  }
  .assigned-person,.assignee-box-logo{
    display: none!important;
  }
}
.assigned-display{
  display: inline-flex;
}
.collapse-open{
  .nv-collapsedown{

  }
}
.nv-collapsedown{
  width: 100%;
}
.logo-show{
  display: block;
}
.logo-hide{
  display: none;
}
._position-relative{
  position: relative;
}
.padding-head-text-10{
  padding: 10px!important;
}
/*global end*/

/*input textarea custom*/
._custom-select{
  min-width: 150px;
  font-size: 12px;
  font-weight: 900;
  padding: 6px 5px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #9ca6af!important;
  cursor: pointer;
  &:hover{
    border-color: #6f7782;
  }
}
._custom-input-search{
  min-width: 170px;
  font-size: 12px;
  font-weight: 900;
  padding: 10px 0px 10px 22px;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  transition: 400ms;
  border: 1px solid #9ca6af!important;
  &:hover{
    border-color: #6f7782;
  }
  &:focus{
    min-width: 250px;
    transition: 400ms;
  }
}
.assignee-box-dropdown{
  position: absolute;
  background-color: #ffffff;
  min-width: 280px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  padding: 7px 7px 3px 7px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  &.no-overflow{
    overflow: initial!important;
  }
  .each-assignee{
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin: 5px 0;
    &:hover{
      background-color: $border-color;
    }
    .profile-img{
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 10px;
      padding: 0 5px;
    }
    .name-text{
      color: $text;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
.main-wrapper-date-input{
  border: none;
  &:hover{
    background-color: #f6f8f9;
  }
}

/*input textarea custom end*/
/*loader*/
.loader-io{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@keyframes ldio-aebf04cd3u {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-aebf04cd3u div {
  position: absolute;
  animation: ldio-aebf04cd3u 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #0a0a0a;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-utvtio44ngo {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-aebf04cd3u {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-aebf04cd3u div { box-sizing: content-box; }
/*loader end*/